* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}

.aboutme {
    padding: 90px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.712);

    .txt {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 30px;
            text-transform: uppercase;
            color: #353535;
            letter-spacing: 4px;
            font-weight: bold;
            color: #fff;
            font-weight: bolder;
            margin-bottom: 10px;
            
            span {
                color: #FFE800;
            }
        }

        p {
            margin-top: 30px;
            font-size: 14px;
            font-weight: 100;
            line-height: 28px !important;
            word-spacing: 1px;
            color: white;
        }
        a{
            text-decoration: none;
            outline: none;
            line-height: 1.5em;
            font-family: Roboto, sans-serif;
            border-radius: 50px;
            width: fit-content;
            padding: 12px 25px;
            background-color: #fec544;
            font-size: 14px;
            border: 0;
            text-transform: capitalize;
            font-weight: bolder;
            letter-spacing: 1.2px;
            color: #070d1b;
        }
    }
}

@media screen and (max-width :  767px) {
    .aboutme{
        padding: 90px 0 !important;
        h1{
            font-size: 16px !important;
        }
    }
}